.header {
    width: 100%;

    .top {
        height: 40px;
        background: linear-gradient(90deg, #3951e7 20.77%, #832ab9 91.64%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2%;

        a {
            display: flex;
            align-items: center;
            .logo {
                height: 16px;
                width: auto;
            }
        }

        .language {
            display: flex;
            cursor: pointer;
            color: #fff;
            p {
                margin: 0 10px 0 0;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin: 0 16px;

        .nowrap-div {
            @media (max-width: 1200px) {
                width: 100%;
            }

            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;

            .navbar-brand {
                img {
                    padding-right: 10px;
                }
                display: flex;
                align-items: center;

                font-family: "Muller";
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0em;
                white-space: normal;
            }

            .navbar-toggler {
                box-shadow: none;
            }
        }

        #responsive-navbar-nav {
            justify-content: flex-end;
            a {
                font-weight: normal;
                color: #222;
            }
        }
    }
}
