.header {
    position: relative;
    width: 100%;
    height: 100px;
}

.logo {
    height: 40px;
    background: linear-gradient(90deg, #2e2fb2, #8f16d4);
}

.head {
    display: flex;
    height: 60px;
}

.head div {
    display: flex;
    align-items: center;
    align-content: center;
}

.links {
    margin-left: auto;
    margin-right: 0;
    background-color: aqua;
}
.hh {
    margin-left: 0;
    margin-right: auto;
    background-color: beige;
}
.hh p {
    margin: 0 10px;
}
.links p {
    margin: 0 10px;
}
