/* .cards {

display: flex;
    align-items: center;

} */

.news_card {
    box-shadow: 0 0 10px;
    width: min-content;
    background-color: aliceblue;
    border-radius: 15px;
    margin: 10px 10px;
}

.news_card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.news_card p {
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
