h2 {
    margin-top: 4%;
}

.cards {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.news_card.empty {
    height: 337px;
    background-color: #bebebee1;
}

.news_card {
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    width: 300px;
    background-color: white;
    margin: 20px;

    .newscontent {
        margin: 0 25px;
    }

    .addinfo {
        display: flex;
        height: min-content;
        justify-content: space-between;

        .date {
            text-transform: uppercase;
            color: #6a6a6a;
            mix-blend-mode: normal;
            font-size: 12px;
            margin-top: revert;
            margin-bottom: revert;
        }
    }

    .small {
        width: inherit;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .text p {
        margin-top: -5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;

        strong {
            font-weight: normal;
        }
    }
}
