footer {
    * {
        transition: all 0.2s;
    }

    position: relative;
    width: 100%;

    a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        text-decoration: none;
        color: white;
        &:hover {
            color: #c4ffff;
        }
    }

    .copy {
        letter-spacing: -0.5px;
        color: #fff;
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
        opacity: 0.5;
        margin-bottom: 0;
        &:hover {
            opacity: 1;
        }
    }

    .top-block {
        height: fit-content;
        padding: 18px 0;
        background-color: #232473;

        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;

        .copyright,
        .links,
        .adress {
            padding: 0 50px;
            // height: fit-content;
        }

        .copyright {
            img {
                height: 32px;
                margin-bottom: 12px;
            }
        }

        .links {
            display: flex;

            .itmo-links {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 20px;
                a {
                    margin: 5px 0;
                }
            }
        }

        .adress {
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 350px;
            * {
                font-size: 13px;
            }
            .text {
                display: flex;
                flex-direction: column;
                margin: 0;
            }
            .social {
                margin-top: 25px;
                p {
                    color: #fff;
                    margin-bottom: 2px;
                    padding-left: 3px;
                }
                img {
                    margin: 5px;
                }
            }
        }
    }

    .botton-block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        left: 0;
        bottom: -40px;
        background-color: #1a1b57;
        height: 40px;

        a {
            font-size: 13px;
            font-style: normal;
            font-weight: normal;
            opacity: 0.5;
        }
    }

    @media (max-width: 1100px) {
        .copyright {
            display: none;
        }
    }

    @media (max-width: 790px) {
        .top-block {
            flex-direction: column;
            height: auto;
            width: 100%;
            padding: 20px 0;

            .links,
            .adress {
                padding: 0;
                height: auto;
                width: 100%;
            }

            .links {
                justify-content: space-evenly;

                .itmo-links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    overflow: hidden;
                    padding: 0 20px;
                    a {
                        margin: 5px 0;
                    }
                }
            }

            .adress {
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-end;

                .text {
                    justify-content: center;
                }
            }
        }
    }
    @media (max-width: 700px) {
        .botton-block {
            flex-direction: column;
            justify-content: flex-end;
            height: fit-content;
        }
    }
    @media (max-width: 525px) {
        .top-block {
            .adress {
                flex-direction: column;
                align-items: center;
                .text {
                    padding-top: 5px;
                    align-items: center;
                }
                .social {
                    margin-top: 10px;
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}
